html,body{
	margin:0;
	background-color: #ddd;
	font-family: sans-serif;
}
table{
	width:"100%";
}


table.center{
		margin-left: auto; 
		margin-right: auto;
}


table, th, td {
	border:1px solid black;
	font-family:sans-serif;
	/* text-align:center; */
}

.bold{
	font-weight:bold;
}

.l-greek{
	list-style-type:lower-greek;
}

.parrafo2{
	/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
	color:grey;
}
.enlaces{
	border:none;
	font-family: sans-serif;
}

.centertext {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
  }

  .left{
	  display:block;
	  margin-left: 8px;
  }
  